### comparison of replication timing between mESC and mNPC of selected genes

In [1]:
import pandas as pd
from datetime import date

#### dels

In [2]:
dels_mNPC = pd.read_csv('deletions_all_090522.csv', sep='\t', usecols=['genes','s50']) 
dels_mNPC.head()

    genes   s50
0  Adam23  0.31
1    Carf  0.23
2  Zfp451  0.31
3   Stat1  0.40
4  Trip12  0.62

In [3]:
dels_mESC = pd.read_csv('deletions_all_100522_mESC.csv', sep='\t', usecols=['genes','s50']) 
dels_mESC.head()

    genes   s50
0  Adam23  0.25
1    Carf  0.15
2  Zfp451  0.15
3   Stat1  0.30
4  Trip12  0.14

#### ins

In [4]:
ins_mNPC = pd.read_csv('insertions_all_090522.csv', sep='\t', usecols=['genes','s50']) 
ins_mNPC.head()

   genes   s50
0   Aspm  0.68
1  Ptprc  0.56
2     F5  0.43
3   Exo1  0.59
4  Lamb3  0.31

In [5]:
ins_mESC = pd.read_csv('insertions_all_100522_mESC.csv', sep='\t', usecols=['genes','s50']) 
ins_mESC.head()

   genes   s50
0   Aspm  0.35
1  Ptprc  0.83
2     F5  0.24
3   Exo1  0.51
4  Lamb3  0.38

### all

In [6]:
dels_all = pd.merge(left=dels_mNPC, right=dels_mESC, on='genes', suffixes=('_mNPC', '_mESC'))
dels_all.head()

    genes  s50_mNPC  s50_mESC
0  Adam23      0.31      0.25
1    Carf      0.23      0.15
2  Zfp451      0.31      0.15
3   Stat1      0.40      0.30
4  Trip12      0.62      0.14

In [7]:
ins_all = pd.merge(left=ins_mNPC, right=ins_mESC, on='genes', suffixes=('_mNPC', '_mESC'))
ins_all.head()

   genes  s50_mNPC  s50_mESC
0   Aspm      0.68      0.35
1  Ptprc      0.56      0.83
2     F5      0.43      0.24
3   Exo1      0.59      0.51
4  Lamb3      0.31      0.38

In [8]:
dels_all.to_csv(f'deletions_all_{date.today().strftime("%d%m%y")}_both.csv', sep='\t', index=None)

In [9]:
ins_all.to_csv(f'insertions_all_{date.today().strftime("%d%m%y")}_both.csv', sep='\t', index=None)